html, body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(-135deg, #B2FFA8, #B9FFB7, #4AD1A2);
  font-family: 'Patrick Hand', cursive;
}

h1 {
  margin: 0;
  padding: 15px 0;
}

#puzzle {
  width: 500px;
  height: 500px;
  max-width: 100%;
  max-height: 95vh;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  margin: auto;
  border: #4AD1A2;
}

#puzzle canvas {
  box-sizing: border-box;
  padding: 0;
  margin: auto;
  position: absolute;
}

a {
  text-decoration: none;
}

.buttons {
  text-align: center;
}

button {
  justify-content: space-around;
  align-items: center;
  margin: 10px auto;
  max-width: 100px;
  padding: 10px 25px;
  color: #FFF;
  transition: 0.3s ease-in-out;
  font-weight: 600;
}

#shuffle {
  background: #72cef3;
  border-radius: 8px;
  border-bottom: solid 5px #1d7fde;
  border-color: #1d7fde;
}

#shuffle:hover, #shuffle:disabled {
  border-bottom: solid 3px #1d7fde;
  border-color: #1d7fde;
  transform: translateY(3px);
}

#reset {
  background: #A9BCD0;
  border-radius: 8px;
  border-bottom: solid 5px #373F51;
  border-color: #373F51;
}
